@model ProductViewModel

@{
    ViewBag.Title = "Products List";
}
@section Styles {
    
}
@section Scripts {
   @* Xử lý cập nhật categoryID và status *@
        <script src="~/js/HandlerUpdateProduct.js" type="module">
    </script>
}
<!-- Body: Body -->
<div class="body d-flex py-3">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">Product List</h3>
                    <a asp-action="Create" asp class="btn btn-primary py-2 px-5 btn-set-task w-sm-100"><i class="icofont-plus-circle me-2 fs-6"></i> Add Product</a>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row g-3 mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div style="float:left">
                            <form asp-action="Index" method="get">
                                <div class="input-group">
                                    <input name="nameSearch" placeholder="Search for name..." />
                                    <input type="submit" value="Search" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="myDataTable" class="table table-hover align-middle mb-0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Banner</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>CreatedDate</th>
                                    <th>UpdatedDate</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model?.Products)
                                {
                                    <tr id="@product.ProductId">
                                        <td><strong>#@product.ProductId</strong></td>
                                        <td>@product.ProductName</td>
                                        <td>@product.Slug</td>
                                        <td>@product.Banner</td>
                                        <td>@product.Description</td>
                                        <td>@product.Price</td>
                                        <td>
                                            <select id="category-@(product.ProductId)" class="badge bg-success" value="">
                                                @foreach (var category in Model?.Categories)
                                                {
                                                    <option selected=@(product.CategoryId == category.CategoryId ? true : false)
                                                            value="@category.CategoryName">
                                                        @category.CategoryName
                                                    </option>
                                                }
                                            </select>
                                        </td>
                                        <td>@product.CreatedAt</td>
                                        <td>@product.UpdatedAt</td>
                                        <td>
                                            @{
                                                string color = product.Status switch
                                                {
                                                    "available" => "bg-success",
                                                    "unavailable" => "bg-danger",
                                                    "watting" => "bg-warning",
                                                    _ => "Unknown"
                                                };
                                            }
                                            <select id="status-@(product.ProductId)" class="badge @color">
                                                <option selected="@(product.Status == "available" ? true : false)">available</option>
                                                <option selected="@(product.Status == "unavailable" ? true : false)">unavailable</option>
                                                <option selected="@(product.Status == "watting" ? true : false)">watting</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <a asp-action="Edit" asp-route-slug="@product.Slug" class="btn btn-outline-secondary"><i class="icofont-edit text-success"></i></a>
                                                <form asp-action="Delete" asp-route-id="@product.ProductId" method="post">
                                                    <button type="submit" class="btn btn-outline-secondary deleterow"><i class="icofont-ui-delete text-danger"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div page-model="@Model?.PagingInfo" page-action="Index" page-search="@Model?.NameSearch" page-class="btn" page-classes-enabled="true" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group m-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

