@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employees";
}
@section styles{
    <link rel="stylesheet" href="~/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/plugin/datatables/dataTables.bootstrap5.min.css">
}
@section Scripts{
    <script src="~/bundles/dataTables.bundle.js"></script>
    <script src="~/js/template.js"></script>
    <script>
       
        $('#myDataTable')
            .addClass( 'nowrap' )
            .dataTable( {
                responsive: true,
                columnDefs: [
                    { targets: [-1, -3], className: 'dt-body-right' }
                ]
            });
        $('.deleterow').on('click',function(){
            var tablename = $(this).closest('table').DataTable();
            tablename
                .row( $(this)
                    .parents('tr') )
                .remove()
                .draw();

        } );
    
    </script>

}
<!-- Body: Body -->
<div class="body d-flex py-3">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">Employees List</h3>
                    <a asp-action="Create" asp class="btn btn-primary py-2 px-5 btn-set-task w-sm-100"><i class="icofont-plus-circle me-2 fs-6"></i> Add Employee</a>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row g-3 mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table id="myDataTable" class="table table-hover align-middle mb-0" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Avatar</th>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Birth</th>
                                <th>Description</th>
                                <th>Address</th>
                                <th>Role</th>
                                <th>Store</th>
                                <th>CreatedDate</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var employee in Model)
                            {
                                <tr>
                                    <td><strong>#@employee.EmployeeId</strong></td>
                                    <td>
                                        @{
                                            var avatar = !string.IsNullOrEmpty(employee.Avatar) ? Url.Content("~/uploaded/" + employee.Avatar) : Url.Content("~/images/avatar-user.webp");
                                        }
                                        <img src="@avatar" alt="@employee.EmployeeName" width="60" height="60" class="img-fluid">
                                    </td>
                                    <td>@employee.EmployeeName</td>
                                    <td>@employee.EmployeePosition</td>
                                    <td>@employee.Phone</td>
                                    <td>@employee.Email</td>
                                    <th>@employee.Birth</th>
                                    <th class="align-content-center">
                                        @Html.Raw(employee.Description)
                                    </th>
                                    <th>@employee.Address</th>
                                    <td>@employee.Role?.RoleName</td>
                                    <td>@employee.Store?.StoreName</td>
                                    <td>@employee.CreatedAt</td>
                                    <td>
                                        @{
                                            string statusChange = employee.Status switch
                                            {
                                                "active" => "bg-success",
                                                "warnning" => "bg-warning",
                                                "banned" => "bg-danger",
                                                _ => ""
                                            };
                                        }
                                        <span class="badge @statusChange">@employee.Status</span>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <a asp-action="Edit" asp-route-id="@employee.EmployeeId" class="btn btn-outline-secondary"><i class="icofont-edit text-success"></i></a>
                                            <button type="button" class="btn btn-outline-secondary deleterow"><i class="icofont-ui-delete text-danger"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


